# Environnement virtuel
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# DONNÉES : On ignore les dossiers, mais PAS les fichiers .dvc
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
# On autorise explicitement les fichiers de tracking DVC
!*.dvc

# Modèles
models/*
!models/.gitkeep

# MLflow & Logs
mlruns/
mlflow.db
.pytest_cache/

# OS
.DS_Store